$color-green-light        : rgba(57, 247, 67, 0.753);
$color-red-light          : rgb(241, 65, 65);
$padding-blog-post-wrapper: 0 5%;
$color-brownish-grey      : #666666;
$color-red-btn            : #ff3333;
$color-white-Two          : #eaeaea;