.header {
    max-width : 1920px;
    max-height: 80px;
    min-height: 40px;
    position  : relative;

    .header-wrapper {
        width        : inherit;
        padding      : 0 40px;
        border-bottom: 1px solid #eaeaea;
        height       : inherit;
    }

    &-nav {
        position: relative;

        &-bars-btn {
            display: none;
        }

        &-left a {
            font-size: 36px;
            @include fontUp();
        }

        &-middle {
            a {
                margin   : 5px 30px 0 0;
                font-size: 12px !important;
                @include fontUp();
            }
        }

        &-right {
            li {
                margin: 0 10px;
            }

            .icon_search,
            .icon-account,
            .icon_cart {
                img {
                    width : 20px;
                    height: 20px;
                }
            }
        }

        &-left,
        &-middle,
        &-right {
            a {
                color          : #000;
                text-decoration: none;

                &:hover {
                    color: blue;
                }
            }
        }

        .btn-open-nav-mobile {
            border          : unset;
            background-color: unset;
            display         : none;
        }

        &-overlay {
            position        : fixed;
            display         : none;
            top             : 0;
            left            : 0;
            right           : 0;
            bottom          : 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index         : 2;
            animation       : fadeIn linear 0.2s;
        }

        &-mobile {
            position        : fixed;
            top             : 0;
            left            : 0;
            bottom          : 0;
            width           : 360px;
            max-width       : 100%;
            height          : 100vh;
            z-index         : 3;
            display         : none;
            background-color: #fff;

            &-title {
                @include fontUp();
                height          : 50px;
                font-size       : 13px;
                display         : flex;
                flex-direction  : column;
                justify-content : center;
                text-align      : center;
                border-bottom   : 1px solid #eaeaea;
                background-color: #fafafa;
            }

            &-close {
                position: absolute;
                top     : 0.85rem;
                right   : 2rem;
                cursor  : pointer;

                &:hover {
                    color: $color-green-light;
                }
            }

            &-list {
                list-style: none;
                padding   : 0;


                li {
                    padding-left : 30px;
                    border-bottom: 1px solid #eaeaea;
                    position     : relative;
                    cursor       : pointer;
                }
            }

            &-link {
                text-decoration: none;
                color          : #333;
                display        : block;
                padding        : 8px 0;
                font-size      : 12px;
                @include fontUp();
            }

            &-icon {
                position: absolute;
                right   : 2rem;
                top     : 35%;
            }

            &-bot {
                @include posAbsolute("bottom-left", 0, 0);

                &-info {
                    padding-left: 30px;
                    color       : #666;


                    li {
                        margin: 10px 0;

                        a {
                            margin-left: 15px;
                            color      : #666;

                            i {
                                font-size: 14px;
                            }

                            &:hover {
                                color: $color-green-light;
                            }
                        }
                    }
                }

                &-btn {
                    height : 51px;
                    display: flex;

                    button {
                        width     : 180px;
                        border-top: 1px solid #eaeaea;
                        color     : #222;
                        font-size : 16px;

                        &:hover {
                            color: $color-green-light;
                        }
                    }

                    .btn-heart {
                        border-right: 1px solid #eaeaea;
                        position    : relative;

                        span {
                            color    : #222;
                            font-size: 13px;
                            @include posAbsolute("top-right", 5, 60);
                        }
                    }
                }
            }
        }

        &-mobile-toggle {
            position        : fixed;
            top             : 0;
            left            : 418px;
            bottom          : 0;
            width           : 360px;
            max-width       : 100%;
            height          : 100vh;
            background-color: #fff;
            display         : none;
            z-index         : 3;

            &-title {
                @include fontUp();
                height          : 50px;
                font-size       : 13px;
                display         : flex;
                justify-content : center;
                align-items     : center;
                border-bottom   : 1px solid #eaeaea;
                background-color: #fafafa;

                span {
                    margin: 0 auto;
                }
            }

            &-close {
                margin: 0 25px;
                cursor: pointer;

                &:hover {
                    color: $color-green-light;
                }
            }
        }

        &-input-hide:checked~&-overlay {
            display: block;
        }

        &-input-hide:checked~&-mobile {
            transform: translateX(0%);
            opacity  : 1;
        }

        .menu-item-has-children:hover .sub-menu {
            margin-top: 0;
            opacity   : 1;
            visibility: visible;
        }

        .mega-menu {
            max-width: 1100px;
            width    : 100%;
            left     : 50%;
            transform: translateX(-50%);

            &-item {
                &-title {
                    font-size  : 14px;
                    font-weight: bold;
                    @include fontUp();
                }
            }
        }

        .sub-menu {
            position        : absolute;
            z-index         : 500;
            background-color: #fff;
            padding         : 40px 30px;
            transition      : all 0.5s ease;
            margin-top      : 25px;
            opacity         : 0;
            visibility      : hidden;

            ul {
                li {
                    line-height: 1;

                    a {
                        display        : inline-block;
                        padding        : 10px 0;
                        font-size      : 13px;
                        font-weight    : 700;
                        color          : #000;
                        transition     : color 0.3s ease;
                        text-decoration: none;

                        &:hover {
                            color: $color-red-btn;
                        }
                    }
                }
            }
        }

    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.blog-post-header {
    @include blog-post-header-style();

    &-nav {


        &-left {
            li {
                margin: 0 5px;
            }

        }

        &-right {
            li {
                margin: 0 5px;

                #search-input {
                    height          : 100%;
                    border          : 1px solid #000;
                    background-color: inherit;

                    &:focus {
                        background-color: #fff;
                        color           : #000;
                    }
                }
            }
        }

        &-left a:hover,
        &-right a:hover {
            color: $color-green-light !important;
        }

        &-left a:active,
        &-right a:active {
            color: $color-red-light !important;
        }
    }
}