.usefull {
    margin: 60px 0;

    &-wrapper {
        display        : flex;
        justify-content: center;
 

        .usefull-box {
            width          : 270px;
            height         : 80px;
            margin         : 0 30px;
            border         : solid 1px #eaeaea;
            display        : flex;
            justify-content: center;
            align-items    : center;

            span {
                font-size     : 12px;
                font-weight   : 600;
                text-transform: uppercase;
            }

            i {
                font-size: 32px;
                color    : #333333;
                margin   : 0 23px 0 0;
            }
        }
    }
}